@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;

    src: local(''),
         url("../src/fonts/Montserrat/Montserrat-VariableFont_wght.woff"),
         url("../src/fonts/Montserrat/Montserrat-VariableFont_wght.woff2");

    src: local(''),
         url("../src/fonts/Montserrat/montserrat-medium.woff"),
         url("../src/fonts/Montserrat/montserrat-medium.woff2");

   
}

@font-face {
     font-family: "Montserrat";
     font-style: normal;
     src: local(''),
     url("../src/fonts/Montserrat/montserrat-light.woff"),
     url("../src/fonts/Montserrat/montserrat-light.woff2");
}
