@font-face {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: 400;
    
    src: local('Montserrat-Regular'),
        url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat-Medium";
    font-style: normal;
    font-weight: 500;

    src: local('Montserrat-Medium'),
        url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    font-style: normal;
    font-weight: 600;

    src: local("Montserrat-SemiBold"),
        url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "MontserratAlternates-regular";
    font-style: normal;
    font-weight: 400;

    src: local("MontserratAlternates-regular"),
    url("../fonts/montserratAlternates/MontserratAlternates-regular.woff") format("woff"),
    url("../fonts/montserratAlternates/MontserratAlternates-regular.woff2") format("woff2");
}

@font-face {
    font-family: "MontserratAlternates-Medium";
    font-style: normal;
    font-weight: 500;

    src: local("MontserratAlternates-Medium"),
        url("../fonts/montserratAlternates/MontserratAlternates-Medium.woff") format("woff"),
        url("../fonts/montserratAlternates/MontserratAlternates-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Mulish-Regular";
    font-style: normal;
    font-weight: 400;

    src: local("Mulish-Regular");
        url("../../fonts/mulish/Mulish-Regular.woff") format("woff"),
        url("../../fonts/mulish/Mulish-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto-Medium";
    font-style: normal;
    font-weight: 500;

    src: local("Roboto-Medium"),
        url("../fonts/roboto/Roboto-Medium.woff") format("woff"),
        url("../fonts/roboto/Roboto-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Rubik Doodle Shadow";
    font-style: normal;
    font-weight: 400;

    src: local("Rubik Doodle Shadow"),
        url("../fonts/RubikDoodleShadow/RubikDoodleShadow-Regular.woff") format("woff"),
        url("../fonts/RubikDoodleShadow/RubikDoodleShadow-Regular.woff2") format("woff2");
}
